@model tcc_core.Models.Movimentacao

@{
    ViewData["Title"] = "Cadastar Movimentação";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Responsavelonsavel" class="control-label"></label>
                <input asp-for="Responsavelonsavel" class="form-control" />
                <span asp-validation-for="Responsavelonsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimentacao" class="control-label"></label>
                <input asp-for="TipoMovimentacao" class="form-control" />
                <span asp-validation-for="TipoMovimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtMovimentacao" class="control-label"></label>
                <input asp-for="DtMovimentacao" class="form-control" />
                <span asp-validation-for="DtMovimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class ="form-control" asp-items="ViewBag.ProjetoId"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
