html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f3fff2;
    overflow-y: scroll;
}


.footer p {
    word-wrap: break-word;
    white-space: normal;
}



.main-content {
    min-height: 100vh; 
}

.color-dropdown {
    background-color: #D9FBDD;
}

.color-botton-a{
    color: gray;
}


/**HOME*********/

.grid-item {
    background-color: #00796b; /* Cor de fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Cor do texto */
    font-size: 20px;
    height: 100px; /* Altura das células */
    opacity: 0.5;
    border-radius: 20px;
}

.grid-item span{

}