@model tcc_core.Models.Usuario

@{
    ViewData["Title"] = "Excluir Usuário";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<h4 class="text-center">Tem certeza que deseja excluir o usuário abaixo?</h4>

<div class="container d-flex justify-content-center">
    <div class="w-75">
        <hr />
        <dl class="row ">
            <dt class="col-sm-4 text-start">Nome Completo:</dt>
            <dd class="col-sm-8 text-end">@Html.DisplayFor(model => model.NomeCompleto)</dd>

            <dt class="col-sm-4 text-start">E-mail:</dt>
            <dd class="col-sm-8 text-end text-decoration-none">@Html.DisplayFor(model => model.Email)</dd>

            <dt class="col-sm-4 text-start">CPF:</dt>
            <dd class="col-sm-8 text-end">@Html.DisplayFor(model => model.Cpf)</dd>
        </dl>
    </div>
</div>

<div class="text-center mt-4 d-flex justify-content-evenly">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
    </form>
</div>