@model tcc_core.Models.UsuarioModel

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<h1 class="text-center mt-5">@ViewData["Title"]</h1>


<div class="container d-flex justify-content-center">
    <div class="w-75 mx-auto">
        <hr />
        <dl class="row ">
            <dt class="col-sm-4 text-start">Nome Completo:</dt>
            <dd class="col-sm-8 text-end">@Html.DisplayFor(model => model.NomeCompleto)</dd>

            <dt class="col-sm-4 text-start">E-mail:</dt>
            <dd class="col-sm-8 text-end text-decoration-none">@Html.DisplayFor(model => model.Email)</dd>

          @*   <dt class="col-sm-4 text-start">Senha:</dt>
            <dd class="col-sm-8 text-end">@Html.DisplayFor(model => model.Senha)</dd> *@
        </dl>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>