@model tcc_core.Models.Projeto

@{
    ViewData["Title"] = "Editar Projeto";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Coordenador" class="control-label"></label>
                <input asp-for="Coordenador" class="form-control" />
                <span asp-validation-for="Coordenador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Natureza" class="control-label"></label>
                <input asp-for="Natureza" class="form-control" />
                <span asp-validation-for="Natureza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtInicio" class="control-label"></label>
                <input asp-for="DtInicio" class="form-control" />
                <span asp-validation-for="DtInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtFinal" class="control-label"></label>
                <input asp-for="DtFinal" class="form-control" />
                <span asp-validation-for="DtFinal" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
