@using Microsoft.AspNetCore.Identity
@inject SignInManager<UsuarioModel> SignInManager
@inject UserManager<UsuarioModel> UserManager


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lab. Maker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tcc_core.styles.css" asp-append-version="true" />
</head>
<body class="body">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between">
                <div class="dropdown">
                    <button class="btn btn-outline-success" type="button" id="navbarScrollingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="navbar-toggler-icon text-success"></span>
                    </button>

                 
                      <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Projeto" asp-action="Index">Projeto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Material" asp-action="Index">Material</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movimentacao" asp-action="Index">Movimentação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MovimentacaoMaterial" asp-action="Index">Movimentação - Material</a>
                        </li>
                    </ul> 
                </div>
                <a class="navbar-brand ms-auto" asp-area="" asp-controller="Home" asp-action="Index">Laboratório Maker</a>
            </div>
        </nav>
    </header>
    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container text-center">
            <p class="mb-0">Laboratório Maker - 2024 - Made by Maria Carolina.   &copy; Todos os direitos reservados.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
