

@{
    ViewData["Title"] = "Procedimentos";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<div class="row justify-content-center">
    <div id="home">
       <ul class="nav nav-tabs"> 
          <li class="nav-item">
            <a class="nav-link" href="#projeto" >Projeto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#material" >Material</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#movimentacao" >Movimentação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#agendamento" >Agendamento</a>
          </li>
        </ul>
   </div>

   <div id="projeto" class="content">
       <div class="d-flex justify-content-between">
            <h3>Projeto</h3>
            <a class="nav-link" href="#home">Home</a>
       </div>

        <ul>
            <li>
                Para realizar ações referentes a Projetos, navegue para 
                a página de gerenciamento de Projetos, cujo link pode ser encontrado
                no menu lateral, na página Home ou clicando em 
                <a asp-controller="Projeto" asp-action="Index">Projetos</a>
                .
            </li>
            <li>
                Para cadastrar um projeto no sistema, vá para a página de gerenciamento 
                de projetos (link no item acima).
                Clique no botão "Adicionar" para ser redirecionado para a página de criação de Projetos.
                Nessa página, são solicitadas informações necessárias para cadastrar Projetos no sistema.
                Observação: O Projeto só será cadastrado no sistema se todos os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Na página de gerenciamento é possível visualizar Projetos cadastrados no sistema. 
                A esquerda ficam as informações referente ao projeto e a direita, botões,
                que correspondem ações referentes ao respectivo Projeto.
            </li>
            <li>
                Para editar o Projeto, clique no botão "Editar". Você
                será redirecionado para a página de alteração do Projeto, que carrega as atuais
                informações do Projeto, permitindo que as mesmas sejam alteradas.
                Observação: As alterações só serão aplicadas os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para excluir um projeto específico, clique no botão "Excluir",
                localizado na página Index. Você será redirecionado para uma página de 
                confirmação, que exibe as informações relacionadas ao projeto selecionado.
            </li>
        </ul>
   </div>
   <div id="material" class="content">
        <div class="d-flex justify-content-between">
            <h3>Material</h3>
            <a class="nav-link" href="#home">Home</a>
        </div>

        <ul>
            <li>
                Para realizar ações referentes a Materiais, o usuário deve navegar para
                a página de gerenciamento de Materiais, cujo link pode ser encontrado
                no menu lateral, na página Home ou clicando em 
                <a asp-controller="Material" asp-action="Index">Materiais</a>
                .
            </li>
            <li>
                Para cadastrar um projeto no sistema, vá para a página de gerenciamento
                de projetos (link no item acima).
                Clique no botão "Adicionar" para ser redirecionado para a página de criação de Projetos.
                Nessa página, são solicitadas informações necessárias para cadastrar Projetos no sistema.
                Observação: O Projeto só será cadastrado no sistema se todos os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Na página de gerenciamento é possível visualizar Projetos cadastrados no sistema.
                A esquerda ficam as informações referente ao projeto e a direita, botões,
                que correspondem ações referentes ao respectivo Projeto.
            </li>
            <li>
                Para editar o Projeto, clique no botão "Editar". Você
                será redirecionado para a página de alteração do Projeto, que carrega as atuais
                informações do Projeto, permitindo que as mesmas sejam alteradas.
                Observação: As alterações só serão aplicadas os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para excluir um projeto específico, clique no botão "Excluir",
                localizado na página Index. Você será redirecionado para uma página de
                confirmação, que exibe as informações relacionadas ao projeto selecionado.
            </li>
        </ul>
   </div>
   <div id="movimentacao" class="content">
        <div class="d-flex justify-content-between">
            <h3>Movimentação</h3>
            <a class="nav-link" href="#home">Home</a>
        </div>

        <ul>
            <li>
                Para realizar ações referentes a Movimentações, o usuário deve navegar para
                a página de gerenciamento de Movimentações, cujo link pode ser encontrado
                no menu lateral, na página Home ou clicando em 
                <a asp-controller="Movimentacao" asp-action="Index">Movimentações</a>
                .
            </li>
            <li>
                Para cadastrar um projeto no sistema, vá para a página de gerenciamento
                de projetos (link no item acima).
                Clique no botão "Adicionar" para ser redirecionado para a página de criação de Projetos.
                Nessa página, são solicitadas informações necessárias para cadastrar Projetos no sistema.
                Observação: O Projeto só será cadastrado no sistema se todos os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Na página de gerenciamento é possível visualizar Projetos cadastrados no sistema.
                A esquerda ficam as informações referente ao projeto e a direita, botões,
                que correspondem ações referentes ao respectivo Projeto.
            </li>
            <li>
                Para editar o Projeto, clique no botão "Editar". Você
                será redirecionado para a página de alteração do Projeto, que carrega as atuais
                informações do Projeto, permitindo que as mesmas sejam alteradas.
                Observação: As alterações só serão aplicadas os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para excluir um projeto específico, clique no botão "Excluir",
                localizado na página Index. Você será redirecionado para uma página de
                confirmação, que exibe as informações relacionadas ao projeto selecionado.
            </li>
        </ul>
   </div>
   <div id="agendamento" class="content">
        <div class="d-flex justify-content-between">
            <h3>Agendamento</h3>
            <a class="nav-link" href="#home">Home</a>
        </div>
        
        <ul>
            <li>
                Para realizar ações referentes a Agendamentos, o usuário deve navegar para
                a página de gerenciamento de Agendamentos, cujo link pode ser encontrado
                no menu lateral, na página Home ou clicando em 
                <a asp-controller="Agendamento" asp-action="Index">Agendamentos</a>
                .
            </li>
            <li>
                Para cadastrar um projeto no sistema, vá para a página de gerenciamento
                de projetos (link no item acima).
                Clique no botão "Adicionar" para ser redirecionado para a página de criação de Projetos.
                Nessa página, são solicitadas informações necessárias para cadastrar Projetos no sistema.
                Observação: O Projeto só será cadastrado no sistema se todos os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Na página de gerenciamento é possível visualizar Projetos cadastrados no sistema.
                A esquerda ficam as informações referente ao projeto e a direita, botões,
                que correspondem ações referentes ao respectivo Projeto.
            </li>
            <li>
                Para editar o Projeto, clique no botão "Editar". Você
                será redirecionado para a página de alteração do Projeto, que carrega as atuais
                informações do Projeto, permitindo que as mesmas sejam alteradas.
                Observação: As alterações só serão aplicadas os campos obrigatórios
                estiverem devidamente preenchidos e se não houver inconsistencia e
                dublicidade de dados de caráter único.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para visualizar todas as informações referente a um projeto específico,
                clique no botão "Ver Detalhes", localizado na página Index.
            </li>
            <li>
                Para excluir um projeto específico, clique no botão "Excluir",
                localizado na página Index. Você será redirecionado para uma página de
                confirmação, que exibe as informações relacionadas ao projeto selecionado.
            </li>
        </ul>
   </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   @*  <script>
        function openTab(event, tabId) {
            var tabs = document.getElementsByClassName('nav-link');
            for (var i = 0; i < tabs.length; i++) {
                tabs[i].classList.remove('active');
            }
            event.currentTarget.classList.add('active');

            var url = '@Url.Action("Help", "Home")/' + tabId;
            $('#tab-content').load(url);
        }

        // Abrir a primeira tab por padrão
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('.nav-link').click();
        });
    </script> *@
   @*  <script>
    function openTab(event, tabId) {
        // Esconder todos os conteúdos
        var contents = document.getElementsByClassName('content');
        for (var i = 0; i < contents.length; i++) {
            contents[i].style.display = 'none';
        }
        // Remover classe 'active' de todas as tabs
        var tabs = document.getElementsByClassName('nav-link');
        for (var i = 0; i < tabs.length; i++) {
            tabs[i].classList.remove('active');
        }
        // Mostrar o conteúdo correspondente ao tabId
        document.getElementById(tabId).style.display = 'block';
        // Adicionar classe 'active' à tab clicada
        event.currentTarget.classList.add('active');
    }
    // Abrir a primeira tab por padrão
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.nav-link').click();
    });
</script> *@
}
