@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center  ">
    <br />
    <h1 class="display-4">Laboratório Maker</h1>
    <br />

    @* <div class="d-grid gap-2 col-6 mx-auto mt-3">

    </div> *@

    <div class="container py-5 ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col grid-item">
                <span>
                    <a class="btn btn-lg btn-outline-success" asp-area=""
                       asp-controller="Home" asp-action="Help">Procedimentos</a>
                </span>
            </div>
            <div class="col grid-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" 
                asp-controller="Usuario" asp-action="Index">Usuário</a>
            </div>
            <div class="col grid-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" 
                asp-controller="Projeto" asp-action="Index">Projeto</a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col grid-item">
                <a class="btn btn-lg btn-outline-success" asp-area="" 
                asp-controller="Material" asp-action="Index">Material</a>
            </div>
            <div class="col grid-item">
                <a class="btn btn-lg btn-outline-success" asp-area=""
                asp-controller="Agendamento" asp-action="Index">Agendamento</a>
            </div>
            <div class="col grid-item">
                <a class="btn btn-lg btn-outline-success" asp-area=""
                asp-controller="Movimentacao" asp-action="Index">Movimentação</a>
            </div>
        </div>
    </div>
</div>
