@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Laboratório Maker</h1>
    <br />

    <div class="d-grid gap-2 col-6 mx-auto mt-3">

        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Home" asp-action="Help">Procedimento</a>
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Usuario" asp-action="Index">Usuário</a>
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Projeto" asp-action="Index">Projeto</a>
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Material" asp-action="Index">Material</a>
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Agendamento" asp-action="Index">Agendamento</a>
        <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Movimentacao" asp-action="Index">Movimentação</a>
      
    </div>
</div>
