@model tcc_core.Models.Material

@{
    ViewData["Title"] = "Excluir Material";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<h4 class="text-center">Tem certeza que deseja excluir o usuário abaixo?</h4>

<div class="container d-flex justify-content-center">
    <div class="w-75 mx-auto">
        <hr />
        <dl class="row ">
            <dt class="col-sm-3 text-start">Descrição:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.Descricao)</dd>

            <dt class="col-sm-3 text-start">Classificação:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.Classificacao)</dd>

            <dt class="col-sm-3 text-start">Quantidade atual:</dt>
            <dd class="col-sm-9 text-end">@Html.DisplayFor(model => model.QuantidadeAtual)</dd>
        </dl>
    </div>
</div>

<div class="text-center mt-4">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
    </form>
</div>
